*{
	margin: 0;
	padding: 0;
}
div{
	display: flex;
}
table{
	border: 1px solid black;
	width: 100%;
	height: 100vh;
}
.first{
	width: 50%;
	background-color: rgb(212, 55, 55);
}
.second{
	width: 50%;
	background-color: yellow;
}
td{
	border: 0px;
}